body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 62.5%;
}

/* --- background parallax --- */

#parallaxnaslovna {
  background-image: url("../slike/backgroundi/naslovna.jpg");
}

#parallaxkolekcija {
  background-image: url("../slike/backgroundi/babuh11.jpg");
}

#parallaxoprojektu {
  background-image: url("../slike/backgroundi/babuh13.jpg");
}

#parallaxstudenti {
  background-image: url("../slike/backgroundi/babuh15.jpg");
}

#parallax1 {
  background-image: url("../slike/backgroundi/babuh5.jpg");
}

#parallax2 {
  background-image: url("../slike/backgroundi/babuh6.png");
}

.parallax {

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

@media screen and (min-width: 1921px) {
  .parallax {
    background-size: cover;
    height: auto;
  }
}

/* --- background parallax --- */

/* --- containers --- */

#naslovnacont {
  padding-top: 5rem;
  padding-bottom: 7rem;
  max-width: fit-content;
}

#kolekcijacont {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.levanaslovna {
  background: rgba(0, 74, 117, 0.7);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  flex: 1;
  margin-left: 10vw;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  max-height: fit-content;
  min-width: 50%;
}

.containerisafixednaviznad {
  margin-top: 12vh;
}

@media all and (max-width: 992px) {
  .containerisafixednaviznad {
    margin-top: 2vh;
  }
}

.containerkolekcija {
  padding-bottom: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

footer {
  width: 100%;
  left: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}

@media all and (max-width: 768px) {
  footer {
    margin-top: 0;
  }
}

.maincontainerall {
  min-width: 70%;
}

#maincontainer-1 {
  background: rgba(97, 171, 180, 0.85);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#maincontainer-2 {
  background: rgba(193, 168, 140, 0.80);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#maincontainer-kolekcija {
  background: rgba(222, 161, 122, 0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#maincontainer-oprojektu {
  background: rgba(102, 63, 80, 0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#maincontainer-naslovna {
  background: rgba(82, 109, 130, 0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#maincontainer-studenti {
  background: rgba(160, 179, 211, 0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.main-content {
  flex-grow: 1;
  margin-bottom: 6rem;
}

.container-v1 {
  padding-top: 3vh;
}

/* --- containers --- */

/* --- carousel  --- */

.carousel {
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* --- carousel  --- */

/* --- text boxes --- */
.bigtextbox {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* --- text boxes --- */

/* --- texts --- */
.navbarmaintekst {
  font-family: "Lexend";
  font-size: 3vh;
  color: rgba(82, 77, 117);
  transition: 0.5;
}

@media all and (max-width: 992px) {
  .navbarmaintekst {
    font-size: 1.8rem;
    margin-left: 5vw;
  }

  .navbar-toggler {
    margin-right: 7vw;
  }

  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

}

.navbarmaintekst:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 6px;
}

.navbartekst#staticnav {
  margin-right: 5vw;
  margin-top: 2rem;
}

.navbarfixni {
  margin-right: 7vw;
}

.navbaruboxu {
  font-family: "Lexend";
  font-size: 2.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbarboxutext {
  color: rgba(82, 77, 117);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
}

.navbarboxutext:hover {
  color: white;
}

h1.matininaslovi {
  font-family: "Neonderthaw", sans-serif;
  font-size: 14em;
  padding-top: 0.45em;
  padding-bottom: 0.3em;
  color: white;
  text-shadow: black 5px 5px 10px;
  line-height: 1;
}

@media all and (max-width: 768px) {
  h1.matininaslovi {
    font-size: 10em;
  }

  .navbaruboxu {
    font-size: 2.8em;
  }

  .bigtextbox {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media all and (max-width: 768px) {
  .carousel-control-prev-icon {
    display: none;
  }

  .carousel-control-next-icon {
    display: none;
  }
}

h1#skolskaikona {
  max-width: 90%;
}

h2#naslovna {
  font-family: "Lexend";
  font-size: 8rem;
  text-align: center;
  color: rgb(39, 55, 77);
  font-weight: bold;
  text-shadow: -0.01em -0.01em 0 white, 0.01em -0.01em 0 white, -0.01em 0.01em 0 white, 0.01em 0.01em 0 white;
  padding-bottom: 4vh;
  padding-top: 4.5vh;
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
  h2#naslovna {
    font-size: 10em;
    padding-top: 3vh;
    padding-bottom: 2vh;
  }
}

h2#kolekcijanaslov {
  font-family: "Neonderthaw", "sans-serif";
  font-size: 12rem;
  text-align: center;
  color: white;
  font-weight: normal;
  text-shadow: black 5px 5px 8px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

@media all and (max-width:768px) {
  h2#kolekcijanaslov {
    font-size: 10em;
  }
}

p.matastranice {
  font-family: "Lexend";
  font-size: 2.4rem;
  text-align: start;
  color: white;
}

@media all and (max-width: 768px) {
  p.matastranice {
    font-size: 1.8rem;
  }
}

p.naslovna {
  font-size: 3rem;
  text-align: start;
  color: white;
  font-family: "Lexend";
  text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
}

@media all and (max-width: 768px) {
  p.naslovna {
    font-size: 1.8rem
  }
}

.mentori {
  color: rgba(242, 211, 193);
  text-decoration: underline;
}

.goofy {
  color: rgba(242, 211, 193);
}

.goofy:hover {
  color: rgba(166,169,174,255);
}

span.flowertext-purple {
  color: rgba(82, 77, 117);
}

.likovi {
  color: rgba(82, 77, 117);
  text-decoration: underline;
}

.tab-pane {
  transition: all 0.2s ease-in-out;
}

.footertext {
  color: rgba(82, 77, 117);
  display: inline;
  font-family: "Lexend";
  font-size: 1.4rem;
}

.footertext#matijine {
  color: rgba(82, 77, 117);
}

.linkovi-purple {
  color: rgba(82, 77, 117);
}

.linkovi-purple:hover {
  color: rgba(104, 102, 114, 0.9);
  font-weight: bold;
}

.linkovi-babyblue {
  color: rgb(204, 238, 241);
}

.linkovi-babyblue:hover {
  color: rgba(0, 74, 117);
}

/* --- texts --- */

/* --- images --- */
.logofilfak {
  width: 7vh;
  height: 7vh;
  margin-left: 7vw;
}

#logofilfaknaslovna {
  width: 12vh;
  height: 12vh;
  margin-left: 5vw;
  margin-top: 2vw;
}

@media all and (max-width: 992px) {
  #logofilfaknaslovna {
    height: 7vh;
    width: 7vh;
    margin-left: 7vw;
    margin-top: 0px;
  }
}

/* --- images --- */

/* --- lists --- */
li.inlinelist {
  display: inline;
  padding-inline: 0.5vw;
  text-align: center;
}

li.nav-item {
  padding-inline: 0.6vw;
}

/* --- lists --- */

/* --- animactions --- */
nav.bg-light {
  animation: slideDown 1.5s;
}

.pulse {
  animation: pulse
}

.blob {
  transition: 500ms;
}

.blob:hover {
  text-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(0.97);
  transition: 0.5s all;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.swup-transition-fade {
  transition: 2s;
  opacity: 1;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

@keyframes slideDown {
  0% {
    top: -7vh;
    /* --- Adjust this value based on your navbar height --- */
  }

  100% {
    top: 0;
  }
}

/* --- animactions --- */

/* --- sass corrections --- */
.nav-link.active,
.show>.nav-link {
  font-weight: 500;
  color: white;
  border-bottom-color: currentcolor;

}

.nav-underline .nav-link.active {
  color: white;
}

/* --- sass corrections --- */

/* --- right scroll to top button --- */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 3vw;
  z-index: 99;
  border-collapse: collapse;
  text-align: center;
  opacity: 1;
}

#scroll-to-top i {
  font-size: 5rem;
  text-align: center;
}

@media all and (max-width: 768px) {
  #scroll-to-top i {
    font-size: 4rem;
  }

  #scroll-to-top {
    margin: auto;
    position: static;
    margin-bottom: 2rem;
    margin-top: -3rem;

  }
}

/* --- right scroll to top button --- */

/* --- cards --- */
.card {
  background: #27374D;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-family: "Lexend";
  font-size: 1.2vw;
  color: white;
  transition: 0.5s;
}

h5.card-title {
  font-size: 1.7rem;
}

.card#kolekcija {
  background: rgb(104, 90, 80);
}

.studentcards {
  background: rgba(96, 104, 141);
}

.card:hover {
  transform: scale(0.99);
  transition: 500ms all;
}

.carouselkartice:hover {
  transform: scale(0.98);
  transition: 500ms all;
}

.card-title {
  padding-top: 0.5em;
}

/* --- cards --- */

/* --- cards with animations --- */
.filoloskislika {

  width: 100%;
  transition: 0.3s all;
}

.likovislika {

  width: 100%;
  transition: 0.3s all;
}

.karticafil {
  width: 40%;
  margin-left: 1.2vw;
  background: rgba(102, 63, 80);
}

@media all and (max-width: 768px) {
  .karticafil {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

.karticalikovi {
  width: 35%;
  margin-left: 1.5vw;
  background: rgba(82, 77, 117);
}

h5.titleodslike {
  padding-bottom: 0.5em;
  font-size: 3rem;
  position: absolute;
  bottom: -0.5em;
  justify-content: center;
  left: 0px;
  right: 0px;
  text-shadow: 0.03em 0.06em 0.3em rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s all;
  animation: fadeInAnimation2 ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media all and (max-width: 768px) {

  div.card-img-overlay {
    display: none;
  }

  .naslovimalihslika {
    display: block;
    padding: 0;
  }

  div.naslovimalihslika h5.card-title {
    font-size: 1.6rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}


@media all and (min-width: 769px) {
  .naslovimalihslika {
    display: none;
  }
}

@keyframes fadeInAnimation2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.karticafil:hover h5.titleodslike {
  bottom: 0;
  opacity: 1;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.karticalikovi:hover h5.titleodslike {
  bottom: 0;
  opacity: 1;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* --- cards with animations --- */

/* --- carousel animations --- */

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/* --- carousel animations --- */

/* --- animon item ubrzani transition --- */
.animonItem {
  transition: opacity .4s cubic-bezier(.5, 1, .89, 1) .3s, transform .45s cubic-bezier(.5, 1, .89, 1) .3s;
}

@media all and (max-width: 768px) {
  .animonItem {
    transition: opacity .2s cubic-bezier(.5, 1, .89, 1) .15s, transform .2s cubic-bezier(.5, 1, .89, 1) .15s;
  }
}