@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Ruthie|Mrs+Saint+Delafield);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
  font-family: 'Montserrat', arial, sans-serif;
  color:#7F6855;
  h2,h3,h4{
    font-weight:700;
  }
  
  h2,h3,h4,.date{
     color: #544B49;
  }
  
  h2{
    padding:0.2em 0em;

  }
  p{
    line-height: 1.8em;
  }
  
  a{
    text-decoration:underline;
    color:#a94442;
    &:hover,&:focus,&:visited{
      color:#632B29;
    }
  }
}

.intro{
  background-color:#F9F9F9;
  display: table;
  width:100%;
  background-image:url('https://d7hftxdivxxvm.cloudfront.net/?height=2000&quality=80&resize_to=fit&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FB9KXcr1U6H2kB58xXeVByg%252Fnew-leonardo-portrait-lead.jpg&width=2000');
  background-size:cover;
  background-attachment:fixed;
  height:500px;
  text-align:center;
  background-position:25% 20%;
  .intro-text{
    display:table-cell;
    vertical-align:middle;
    h1{
      font-family: 'Mrs Saint Delafield', cursive;
      font-size:5em;
      color:#403737;
      @media screen and(min-width:64em) {
        font-size:8em;
      }
    }
  }
}

.container{
  
  padding: 2em 1em;
  
  @media screen and(min-width:50.9375em){ //815px
    padding:2em 0;
  }
  h2{
    text-transform:uppercase;
  }

  
  .timeline{
    .date-row{
      padding: 1em 0.5em;
      display: flex;
      align-items: center;
      @media screen and(min-width:43.75em){ //700px;
        padding: 0em 0em;
      }
      
      .date{
        font-size:1.5em;
      }
    }
  }
  
  .external-links{
    ul{
      list-style-type: none;
      padding-left: 0;
      font-size: 1.5em;
      line-height: 1.8em;
      }
  }
  
}

.quote-leonardo{
  text-align:center;
  padding:5%;
  background-image:url('http://users.skynet.be/fa341830/fcc/imgs/davincibg2.jpg');
  background-size:cover;
  background-attachment:fixed;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size:3em;
      color:#403737;
      @media screen and(min-width:64em) {
        font-size:5em;
      }
}